.contact-us-container {
    background-color: #ffe6f0;
    padding: 20px;
    border-radius: 10px;
  }
  
  h2 {
    color: #ff4d8f;
  }
  
  .contact-info {
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff4d8f;
  }
  
  button {
    background-color: #ff4d8f; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff3780;
  }
  