.privacy-policy-container {
    background-color: #ffe6f0;
    padding: 20px;
    border-radius: 10px;
    color: #ff4d8f;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  