.video-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .video {
    width: 100%;
    max-width: 800px;
  }
  